html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
textarea,
button {
  outline: none !important;
}

input:focus:required:invalid,
textarea:focus:required:invalid,
button:focus:required:invalid {
  border-color: red;
}

input:required:valid,
textarea:required:valid,
button:required:valid {
  border-color: green;
}

a {
  outline: #666;
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

picture {
  display: block;
  line-height: 1;
}

html {
  height: 100%;
}

body {
  font: normal 16px/1.5 'Inter', sans-serif;
  background: #F3ECE4;
  position: relative;
  color: #0E0E0E;
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -9px;
  margin-right: -9px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex--space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex--jc-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex--ai-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.col {
  padding: 0 9px;
}

.w-100 {
  width: 100%;
}

.grids-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.grids-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.grids-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.grids-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.grids-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.grids-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.grids-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.grids-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.grids-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.grids-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.grids-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.grids-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.page-header {
  padding: 0 58px;
}

.page-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 32px;
}

.page-header,
.page-layout {
  position: relative;
  max-width: 1560px;
  min-width: 1319px;
  margin: 0 auto;
}

.aside {
  min-width: 277px;
}

.gray-block {
  background: #F8F8F8;
  padding: 24px;
  padding-bottom: 0;
  border-radius: 8px;
}

.header {
  padding: 16px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 32px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-item {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rub {
  font-weight: 700;
  color: #F6522E;
  margin-right: 12px;
}

.unicorn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  position: relative;
  padding-right: 8px;
  margin-left: 25px;
}

.unicorn__img {
  width: 28px;
  height: 28px;
}

.unicorn__count {
  background: #128C7E;
  position: absolute;
  min-width: 16px;
  height: 15px;
  line-height: 100%;
  font-size: 12px;
  top: 1px;
  left: 20px;
  border-radius: 4px;
  line-height: normal;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #F8F8F8;
  z-index: -1;
}

.unicorn__count--hide {
  display: none;
}

.profile {
  background: #128C7E;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 31px;
  width: 31px;
  margin-left: 31px;
  line-height: 31px;
  border-radius: 50%;
  overflow: hidden;
}

.profile__img {
  position: absolute;
  height: 31px;
  width: 31px;
  margin: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile__initials {
  padding: 0 5px;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 1px;
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
  overflow: hidden;
  line-height: inherit;
  color: #F8F8F8;
}

.sidebar {
  position: relative;
  margin-right: 32px;
}

.sidebar__content {
  min-width: 176px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  top: 0;
  padding: 16px 0;
}

.sidebar__list {
  margin-bottom: 16px;
}

.sidebar__list>li:not(:last-child) {
  margin-bottom: 8px;
}

.sidebar__list--topline::before {
  background: rgba(14,14,14,0.1);
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-bottom: 16px;
}

.sidebar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  padding: 8px 16px;
  border-radius: 8px;
}

.sidebar__link-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.sidebar__link-text {
  color: rgba(14,14,14,0.5);
  white-space: nowrap;
}

.sidebar__link:hover {
  background: rgba(14,14,14,0.05);
}

.sidebar__link:hover .sidebar__link-text {
  color: rgba(14,14,14,0.75);
}

.sidebar__link--active {
  background: #3A3836 !important;
}

.sidebar__link--active .sidebar__link-text {
  color: #F8F8F8 !important;
}

.main {
  width: 100%;
  max-width: 100%;
  padding-bottom: 41px;
}

.main__content {
  background: #fff;
  min-height: 699px;
  padding: 32px;
  border-radius: 8px;
}

.main__title {
  display: table;
  table-layout: fixed;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.main__title-text {
  line-height: 1;
  font-size: 24px;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__header--indent {
  margin-bottom: 24px;
}

.main__header--small_indent {
  margin-bottom: 16px;
}

.main__header-cell {
  white-space: nowrap;
}

.main__header-cell:not(:last-child) {
  margin-right: 16px;
}

.main__header-cell--left {
  margin-left: auto;
}

.main__header-gray_text {
  color: rgba(14,14,14,0.5);
}

.main__grid {
  display: -ms-grid;
  display: grid;
}

.main__grid--three {
  -ms-grid-columns: 1fr 2fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
}

.button {
  font-family: Inter, sans-serif;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  z-index: 1;
  text-align: center;
  padding: 0;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  color: #0E0E0E;
}

.button--back {
  background: #F8F8F8;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  color: rgba(14,14,14,0.5);
  padding: 9px 13px;
  border-radius: 4px;
}

.button--back svg {
  margin-right: 6px;
}

.button--back:hover {
  background: #ececec;
}

.button--border {
  background: inherit;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid rgba(14,14,14,0.2);
  font-size: 14px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.button--border:hover {
  background: rgba(14,14,14,0.05);
}

.button--save {
  background: #F3ECE4;
  font-weight: 500;
  padding: 12px 16px;
  border-radius: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.button--save:hover {
  background: #e8e1d9;
}

.button-floppy-disk::before {
  background: url("../img/floppy-disk.png") no-repeat center/cover;
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.button-waving-hand::before {
  background: url("../img/waving-hand.svg") no-repeat center/cover;
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.button--mailbox {
  background: #F3ECE4;
  font-weight: 500;
  padding: 11px 16px;
  border-radius: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.button--mailbox::before {
  background: url("../img/mailbox.png") no-repeat center/cover;
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.button--mailbox:hover {
  background: #e8e1d9;
}

.button--cancellation {
  background: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 6px 10px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(14,14,14,0.35);
  margin-left: 8px;
}

.button--cancellation:hover {
  color: #FC3F1D;
}

.button--stop {
  background: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: rgba(14,14,14,0.35);
}

.button--stop svg {
  margin-right: 7px;
}

.button--stop:hover {
  color: #FC3F1D;
}

.button--stop:hover svg>rect {
  fill: #FC3F1D;
}

.list {
  background: #F8F8F8;
  border-radius: 8px;
}

.list__items {
  margin-bottom: 16px;
}

.list__item-link {
  display: block;
  padding: 8px 16px;
  border-radius: 8px;
}

.list__item-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
}

.list__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.list__item-indicator {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  margin-right: 8px;
}

.list__item-indicator--green {
  background: #25D366;
}

.list__item-indicator--yellow {
  background: #E9BB1A;
}

.list__item-indicator--red {
  background: #F6522E;
}

.list__item-cont {
  overflow: hidden;
}

.list__item-title {
  color: rgba(14,14,14,0.5);
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.list__item-subtitle {
  font-size: 12px;
  color: rgba(14,14,14,0.35);
}

.list__item:hover .list__item-link {
  background: rgba(14,14,14,0.05);
}

.list__item:hover .list__item-title {
  color: #0E0E0E;
}

.list__item:hover .list__item-subtitle {
  color: rgba(14,14,14,0.75);
}

.list__item--active .list__item-link {
  background: rgba(14,14,14,0.1) !important;
  pointer-events: none;
}

.list__item--active .list__item-title {
  color: #0E0E0E;
}

.list__item--active .list__item-subtitle {
  color: rgba(14,14,14,0.75);
}

.list__button {
  background: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  border: 0;
  padding: 10px 16px;
  border-radius: 8px;
  color: rgba(14,14,14,0.36);
}

.list__button-icon {
  margin-right: 16px;
}

.list__button--active {
  pointer-events: none;
}

.list__button:hover,
.list__button--active {
  background: rgba(14,14,14,0.05);
  color: #0E0E0E;
}

.list__button:hover svg path.circle,
.list__button--active svg path.circle {
  fill: #128C7E;
}

.form {
  width: 100%;
  padding: 0 32px;
}

.form__block:not(:last-child) {
  margin-bottom: 13px;
}

.form__block:last-child {
  margin-top: 24px;
}

.form__label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 14px;
  color: rgba(14,14,14,0.35);
}

.form__input {
  font-family: Inter, sans-serif;
  width: 100%;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid rgba(14,14,14,0.2);
}

.form__input[disabled] {
  background: #fff;
  opacity: 0.5;
}

.form__input--mb8 {
  margin-bottom: 8px;
}

.form__textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid rgba(14,14,14,0.2);
}

.form__textarea textarea {
  font-family: Inter, sans-serif;
  width: 100%;
  border: 0;
  padding: 0;
  line-height: 1.2;
  overflow: hidden;
  resize: none;
}

.form__textarea--three_line textarea {
  min-height: 60px;
}

.form__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 1.4;
  cursor: pointer;
  padding: 9px 33px 9px 14px;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='9' viewBox='0 0 16 9' fill='none'%3E%3Cpath fill='%230E0E0E' fill-opacity='.25' d='M2.343 0L.93 1.415 8 8.485l7.071-7.07L13.657 0 8 5.657 2.343 0z'/%3E%3C/svg%3E") no-repeat right 12px center;
  background-size: 16px;
}

.form__profile-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form__profile-file__img {
  width: 56px;
  height: 56px;
  margin-right: 16px;
}

.form__profile-file input[type='file'] {
  display: none;
}

.form__profile-file__info {
  font-size: 13px;
  margin-left: 8px;
}

.form__profile-file__info--download {
  color: rgba(14,14,14,0.35);
}

.form__group {
  position: relative;
}

.form__group .form__input {
  padding-right: 50px;
}

.form__group__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  right: 13px;
  bottom: 0;
  height: 100%;
}

.form__group__icon .button {
  background: inherit;
  font-size: 13px;
  font-weight: 500;
  color: rgba(14,14,14,0.35);
}

.form__group__icon .button:hover {
  color: #128C7E;
}

.form__group__icon-textarea {
  background: #fff;
  margin-top: 2px;
  font-weight: 500;
  font-size: 13px;
  white-space: nowrap;
  color: rgba(14,14,14,0.35);
}

.form__group__icon-textarea:hover {
  color: #128C7E;
}

.form__group__icon img {
  width: 18px;
}

.form__feedback {
  font-size: 12px;
  line-height: 140%;
  margin-top: 2px;
}

.form__validation--error .form__input {
  border: 1px solid #F6522E;
}

.form__validation--error .form__feedback {
  color: #F6522E;
}

.form__validation--warning .form__input {
  border: 1px solid #E9BB1A;
}

.form__validation--warning .form__feedback {
  color: #E9BB1A;
}

.form__indicator {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  margin-right: 8px;
}

.form__indicator--green {
  background: #25D366;
}

.form__indicator--yellow {
  background: #E9BB1A;
}

.form__indicator--red {
  background: #F6522E;
}

.form__tags {
  background: #F8F8F8;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 8px;
  border-radius: 4px;
}

.form__tags-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
  line-height: 1;
  padding: 6px 8px;
  border-radius: 4px;
  color: rgba(14,14,14,0.5);
}

.form__tags-item--active {
  background: #E1E1E1 !important;
  cursor: default;
  color: #0E0E0E;
}

.form__tags-item:hover {
  background: #ececec;
}

.form__tags-button {
  background: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin-left: 5px;
}

.form__tags-button:hover svg>path {
  fill: #FC3F1D;
}

.form__tags-add {
  background: initial;
  padding: 0;
  color: rgba(14,14,14,0.5);
}

.form__tags-add:hover svg>path {
  fill: #FC3F1D;
}

.input {
  font-family: Inter, sans-serif;
  width: auto;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid rgba(14,14,14,0.2);
}

.input[disabled] {
  background: #fff;
  opacity: 0.5;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__input {
  padding-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.search__btn {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 13px;
  border: 1px solid rgba(14,14,14,0.2);
  border-left: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.search__btn:hover svg>path {
  fill-opacity: 1;
  fill: #128C7E;
}

.switches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.switches--small-indent {
  margin-bottom: 16px;
}

.switches--large-indent {
  margin-bottom: 24px;
}

.switch {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.switch__title {
  font-size: 14px;
  color: rgba(14,14,14,0.35);
  margin-bottom: 4px;
}

.switch__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.switch__item:first-child .switch__link {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.switch__item:not(:first-child) .switch__link {
  margin-left: -1px;
}

.switch__item:last-child .switch__link {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.switch__item--active .switch__link {
  background: #E1E1E1 !important;
}

.switch__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #CFCFCF;
  width: 40px;
  height: 38px;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.switch__link-icon {
  width: 44px;
}

.switch__link:hover {
  background: #ececec;
}

.tabs {
  background: #F8F8F8;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 4px;
  margin-bottom: 24px;
}

.tabs--small_indent {
  margin-bottom: 16px;
}

.tabs--mini .tabs__link {
  font-size: 15px;
  padding: 6px 7px;
}

.tabs__item {
  line-height: 0;
}

.tabs__item:first-child .tabs__link {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.tabs__item:last-child .tabs__link {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.tabs__link {
  background: inherit;
  padding: 9px 18px;
  border: 0;
  border-radius: 4px;
  line-height: 1;
  color: rgba(14,14,14,0.5);
}

.tabs__link--active {
  background: rgba(14,14,14,0.1) !important;
  color: #0E0E0E;
}

.tabs__link:hover {
  background: #ececec;
}

.tabs__content-pane {
  display: none;
}

.tabs__content-pane.active {
  display: block;
}

.status {
  padding: 7px 12px;
  font-size: 14px;
  line-height: 1;
  border-radius: 56px;
  white-space: nowrap;
}

.status--draft {
  background: rgba(14,14,14,0.1);
}

.status--process {
  background: #F3ECE4;
}

.status--expectation {
  background: #F3ECE4;
}

.status--sentby {
  background: rgba(37,211,102,0.2);
}

.table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.table__head .table-row__cell {
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 10px;
}

.table__head-btn_filter {
  background: inherit;
  font-weight: 500;
  line-height: 1.5;
  padding: 0;
}

.table__head-btn_filter-icon {
  margin-left: 4px;
}

.table-item .table-row__cell {
  border-top: 1px solid rgba(14,14,14,0.15);
}

.table-item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 3px;
}

.table-item__title-text {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.table-item__title-btn {
  background: inherit;
  padding: 0;
  margin-left: 7px;
  opacity: 0;
  line-height: 0;
}

.table-item__title-btn:hover svg>path,
.table-item__title-btn:hover rect {
  fill: #fc3f1d;
}

.table-item__desc {
  font-size: 14px;
  color: rgba(14,14,14,0.5);
}

.table-item__desc-img {
  height: 15px;
  width: 15px;
  margin: 0;
  border-radius: 50%;
  margin-right: 6px;
}

.table-item__checkbox_hover {
  position: relative;
}

.table-item__checkbox_hover-hover {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}

.table-item__btn_open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  opacity: 0.35;
  pointer-events: none;
}

.table-item__btn_open-text {
  font-size: 14px;
}

.table-item__btn_open-icon {
  margin-left: 6px;
}

.table-item:hover .table-item__title {
  color: #128C7E;
}

.table-item:hover .table-item__title-btn {
  opacity: 1;
}

.table-item:hover .table-item__btn_open {
  opacity: 1;
  color: #128C7E;
  pointer-events: auto;
}

.table-item:hover .table-item__btn_open-icon path {
  fill: #128C7E;
}

.table-item:hover .table-item__checkbox_hover-no_hover {
  opacity: 0;
}

.table-item:hover .table-item__checkbox_hover-hover {
  opacity: 1;
}

.table-row {
  display: table-row;
  position: relative;
}

.table-row__cell {
  display: table-cell;
  min-width: 120px;
  vertical-align: top;
  position: relative;
}

.table-row__cell:not(:last-child) {
  padding-right: 25px;
}

.table-row__cell-right {
  text-align: right;
}

.table-row__inner {
  position: relative;
  padding: 17px 0;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.divause-iPhone {
  position: relative;
  width: 670px;
  height: 1359px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 auto;
}

.divause-iPhone img {
  pointer-events: none;
}

.divause-iPhone--circumcised {
  height: 960px;
}

.divause-iPhone--circumcised .divause-iPhone__chat {
  height: 789px;
  padding-bottom: 0;
}

.divause-iPhone--zoom0_45 {
  zoom: 0.45;
}

.divause-iPhone--zoom0_54 {
  zoom: 0.54;
}

.divause-iPhone__fon {
  background: url("../img/divause/iPhone-fon.png") no-repeat center top/cover;
  padding: 30px 34px;
  height: 100%;
}

.divause-iPhone__content {
  height: 100%;
}

.divause-iPhone__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 141px;
  padding: 77px 110px 6px 120px;
}

.divause-iPhone__header-img {
  min-width: 57px;
  width: 57px;
  min-height: 57px;
  height: 57px;
  border-radius: 100%;
  margin-right: 12px;
  overflow: hidden;
}

.divause-iPhone__header-text {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.015em;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin-right: 8px;
}

.divause-iPhone__header-check_mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.divause-iPhone__header-check_mark img {
  min-width: 24px;
  width: 24px;
  min-height: 24px;
  height: 24px;
}

.divause-iPhone__chat {
  height: 1159px;
  padding-bottom: 122px;
}

.divause-iPhone__chat-messages {
  height: 100%;
  padding: 11px 0;
  overflow-y: auto;
}

.divause-iPhone__chat-messages::-webkit-scrollbar {
  width: 0;
}

.divause-iPhone__chat-day {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 12px;
  padding: 2px 15px;
  font-size: 20px;
  font-weight: 600;
  color: #47474F;
  background: #D1DBF9;
  -webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.17),inset 0px 1px 0px rgba(255,255,255,0.05);
  box-shadow: 0px 1px 0px rgba(0,0,0,0.17),inset 0px 1px 0px rgba(255,255,255,0.05);
  border-radius: 12px;
}

.divause-iPhone__chat-notification {
  width: 466px;
  margin: 0 auto;
  margin-bottom: 16px;
  padding: 9px 23px;
  font-size: 19px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #1C1C1E;
  background: #FDF4C5;
  -webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.17),inset 0px 1px 0px rgba(255,255,255,0.05);
  box-shadow: 0px 1px 0px rgba(0,0,0,0.17),inset 0px 1px 0px rgba(255,255,255,0.05);
  border-radius: 13px;
}

.divause-iPhone__chat-notification-icon {
  margin-right: 6px;
}

.divause-iPhone__chat-information {
  width: 407px;
  margin: 0 auto;
  padding: 10px 23px;
  font-size: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
  background: #EEF8F4;
  -webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.17),inset 0px 1px 0px rgba(255,255,255,0.05);
  box-shadow: 0px 1px 0px rgba(0,0,0,0.17),inset 0px 1px 0px rgba(255,255,255,0.05);
  border-radius: 13px;
  margin-bottom: 16px;
}

.divause-iPhone__message {
  padding: 0 24px;
}

.divause-iPhone__message:not(:last-child) {
  margin-bottom: 15px;
}

.divause-iPhone__message-block {
  max-width: 84.3%;
  position: relative;
}

.divause-iPhone__message-tail_out {
  position: absolute;
  left: -12px;
  bottom: 8px;
  z-index: 100;
  display: block;
}

.divause-iPhone__message-tail_out svg {
  display: block;
  pointer-events: none;
}

.divause-iPhone__message-content {
  background: linear-gradient(180deg, #F9F9F9 82.81%, #F4F4F4 100%);
  border-radius: 11px;
  -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}

.divause-iPhone__message-padding {
  padding: 6px;
  vertical-align: initial;
}

.divause-iPhone__message-file {
  background: #DDDDDD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 227px;
  overflow: hidden;
  margin-bottom: 8px;
  border-radius: 8px;
}

.divause-iPhone__message-file img {
  width: auto;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.divause-iPhone__message-header {
  font-size: 26px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 8px;
}

.divause-iPhone__message-footer {
  color: #949492;
  font-size: 22px;
  padding: 0 6px;
  margin-top: 4px;
}

.divause-iPhone__message-plug {
  display: inline-block;
  width: 44px;
  vertical-align: middle;
}

.divause-iPhone__message-text {
  line-height: 1.4;
  font-size: 25px;
  padding: 0 6px;
}

.divause-iPhone__message-fatty {
  font-weight: 600;
}

.divause-iPhone__message-italics {
  font-style: italic;
}

.divause-iPhone__message-strikethrough {
  text-decoration: line-through;
}

.divause-iPhone__message-monospaced {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

.divause-iPhone__message-time {
  float: right;
  font-size: 18px;
  color: #BEBEC0;
  letter-spacing: 0.02em;
  margin: -21px 7px -5px 4px;
}

.divause-iPhone__message-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -2px;
  margin-top: 4px;
}

.divause-iPhone__message-btns-col {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  min-width: 50%;
  padding: 0 2px;
}

.divause-iPhone__message-btn {
  cursor: default;
  color: #3478F6;
  font-size: 23px;
  padding: 18px;
  width: 100%;
  margin-bottom: 4px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
  background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#F4F4F4));
  background: -o-linear-gradient(top, #FAFAFA 0%, #F4F4F4 100%);
  background: linear-gradient(180deg, #FAFAFA 0%, #F4F4F4 100%);
}

.divause-iPhone__message-btn--gray {
  color: #969696;
}

.empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.empty__img {
  margin-bottom: 16px;
}

.empty__title {
  text-align: center;
  margin-bottom: 16px;
}

.empty__subtitle {
  text-align: center;
  margin-bottom: 16px;
}

.empty__text {
  max-width: 320px;
}

.auth {
  position: relative;
  width: 480px;
  padding: 32px 0;
  margin: 0 auto;
}

.auth-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.auth__img {
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 206px;
  height: 29px;
  display: block;
  margin: 0 auto;
  margin-bottom: 32px;
}

.auth__block {
  background: #fff;
  position: relative;
  padding: 37px 32px 32px 32px;
  border-radius: 8px;
}

.auth__link {
  font-size: 12px;
  line-height: 1.1;
  color: rgba(14,14,14,0.35);
  border-bottom: 1px solid rgba(14,14,14,0.35);
}

.auth__link:hover {
  color: #0E0E0E;
  border-bottom: 1px solid #0E0E0E;
}

.qr-code__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.qr-code__wrapper {
  background: #fff;
  width: 210px;
  height: 210px;
  padding: 16px;
  border-radius: 12px;
  margin-right: 24px;
  border: 1px solid rgba(14,14,14,0.2);
}

.qr-code__step {
  padding-top: 7px;
  padding-bottom: 6px;
}

.qr-code__step-index {
  background: #fff;
  display: inline-block;
  margin-bottom: 2px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
  line-height: 0;
  padding: 13px 10px 12px 10px;
  border: 1px solid rgba(14,14,14,0.2);
  color: rgba(13,13,13,0.75);
}

.qr-code__step-text {
  font-size: 14px;
  font-weight: 500;
}

.qr-code__footer-question {
  font-size: 14px;
  color: rgba(14,14,14,0.35);
  margin-bottom: 8px;
}

@media only screen and (max-width: 1400px) {
  .main__grid--three {
    -ms-grid-columns: 1fr 1.5fr 1fr;
    grid-template-columns: 1fr 1.5fr 1fr;
  }
}

@media only screen and (max-width: 1319px) {
  body {
    margin-right: 0;
    overflow-x: auto;
  }
}

@media only screen and (max-height: 700px) {
  .auth-body {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
  }

  .auth__img {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}